<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="logTrace"
            xsi:type="File"
            layout="${message}"
            fileName="${basedir}/logs/${shortdate}/Actions.log"/>

    <target name="logError"
        xsi:type="File"
        layout="${message}"
        fileName="${basedir}/logs/${shortdate}/Errors.log"/>

    <target name="logFatal" xsi:type="ColoredConsole" layout="Access Log|${level:uppercase=true}|${logger}|${message}">
      <highlight-row condition="true" foregroundColor="red"/>
    </target>
  </targets>

  <rules>
    <logger name="*" levels="Trace" writeTo="logTrace"/>

    <logger name="*" levels="Error" writeTo="logError">
      <filters defaultAction='Log'>
        <when condition="contains('${message}','Отменена задача.')" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" levels="Fatal" writeTo="logFatal"/>
  </rules>
</nlog>