<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--Разделы конфигурации-->
    <section name="app" type="ForRobot.Libr.ConfigurationProperties.AppConfigurationSection, InterfaceOfRobots" />
    <section name="plita" type="ForRobot.Libr.ConfigurationProperties.PlitaConfigurationSection, InterfaceOfRobots" />
    <section name="robot" type="ForRobot.Libr.ConfigurationProperties.RobotConfigurationSection, InterfaceOfRobots" />

    <!--Группа разделов конфигурации-->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ForRobot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--Дефолтные свойства (читать в README)-->
  <!--Программы-->
  <app PlitaGenerator="test_weld_gen.py" />

  <!--Робота-->
  <robot ControlerFolder="KRC:\R1\Program" />

  <!--Настила-->
  <plita SumReber="5" Long="120000" Wight="3200" Hight="200" DistanceToFirst="300" DistanceBetween="600" DistanceToStart="250" DistanceToEnd="250" DissolutionStart="200" DissolutionEnd="200" ThicknessPlita="16" ThicknessRebro="16" SearchOffsetStart="60" SearchOffsetEnd="60" SeamsOverlap="5" TechOffsetSeamStart="3" TechOffsetSeamEnd="2" BevelToStart="243" BevelToEnd="243" WildingSpead="38" ProgramNom="1" />

  <!--На каких версиях среды возможен запуск (от Windows XP)-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Socket" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1,Profile=Socket" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2,Profile=Socket" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Socket" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
  </startup>

  <!--Информация о среде CRL-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.11.0.0" newVersion="17.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Validation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.8.0.0" newVersion="17.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nerdbank.Streams" publicKeyToken="cac503e1823ce71c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--Настройки приложения-->
  <userSettings>
    <ForRobot.Properties.Settings>
      <setting name="PathControllerField" serializeAs="String">
        <value />
      </setting>
      <setting name="PlitaProgramm" serializeAs="String">
        <value>main_gen</value>
      </setting>
      <setting name="PlitaStringerProgramm" serializeAs="String">
        <value>main_gen</value>
      </setting>
      <setting name="PlitaTreugolnikProgramm" serializeAs="String">
        <value>main_gen</value>
      </setting>
      <setting name="SavePlita" serializeAs="String">
        <value />
      </setting>
      <setting name="SavePlitaStringer" serializeAs="String">
        <value />
      </setting>
      <setting name="SavePlitaTreygolnik" serializeAs="String">
        <value />
      </setting>
      <setting name="PinCode" serializeAs="String">
        <value>a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3</value>
      </setting>
      <setting name="UpdatePath" serializeAs="String">
        <value>\\gateway\Обменник\!IT\777\Формы\ForRobot\Update</value>
      </setting>
    </ForRobot.Properties.Settings>
  </userSettings>
</configuration>